@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManage
@model IEnumerable<EventReview>
@{
	ViewData["Title"] = "All Evenets";
}

<h1>All Event Reviews</h1>
@{
	if (Model == null || !Model.Any()) {
		<h4>No Reviews for any event Found</h4>
	} else {
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">Event Title</th>
					<th scope="col">User Id</th>
					<th scope="col">Rating</th>
				</tr>
			</thead>
			<tbody>
				@foreach (EventReview er in Model) {
					var user = UserManager.FindByIdAsync(er.UserId).Result;
					<tr>
						<th scope="row">@er.Event.Title</th>
						<td>@user</td>
						<td>@er.Rating</td>
						<td>
							@if (User.IsInRole("Admin")) {
								<a asp-controller="EventReview" asp-action="Delete" asp-route-id="@er.EventReviewId">Delete</a>
								<a asp-action="EditReview" asp-route-id="@er.EventReviewId">Edit</a>
							}
						</td>
						<td>
							@if (User.IsInRole("Admin") || er.UserId == UserManager.GetUserId(User))
							{
								<a asp-action="Edit" asp-route-id="@er.EventReviewId" class="btn btn-sm btn-primary me-2">Edit</a>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
}

@if (User.IsInRole("User")) {
	<a asp-action="CreateEventReview">Create New Event Review</a>
}

