@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManage
@model IEnumerable<CheckOut>
@{
	ViewData["Title"] = "All Active CheckOuts";
}

<h1>Current CheckOuts</h1>

@{
	if (Model == null || !Model.Any()) {
		<h4>No Active CheckOuts</h4>
	} else {
		<table class="table">
			<thead>
				<tr>
					<th>Book Title</th>
					<th>User</th>
					<th>CheckOut Date</th>
					<th>DueDate</th>
				</tr>
			</thead>
			<tbody>
				@foreach (CheckOut checkout in Model) {
					<tr class="@(checkout.GetDueDate() >= CheckOut.GetToday() ? "danger" : "" )">
						<td>@checkout.Book.Title</td>
						<td>@checkout.UserId</td>
						<td>@checkout.GetCheckoutDate().ToString()</td>
						<td>@checkout.GetDueDate().ToString()</td>
					</tr>
				}
			</tbody>
		</table>
	}
}

<!--Update this for the create action whatever we name it -->
@if (User.IsInRole("Admin")) {
	<a asp-action="Create">Create New Checkout</a>
}
