@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManage
@model IEnumerable<CheckOut>
@{
	ViewData["Title"] = "All Active CheckOuts";
	DateOnly today = DateOnly.FromDateTime(DateTime.Today);
}
<a asp-action="DueDateCheckOuts">All Due Today</a>
<h1>Current CheckOuts</h1>

@{
	if (Model == null || !Model.Any()) {
		<h4>No Active CheckOuts</h4>
	} else {
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">Book Title</th>
					<th scope="col">User</th>
					<th scope="col">CheckOut Date</th>
					<th scope="col">DueDate</th>
				</tr>
			</thead>
			<tbody>
				@foreach (CheckOut checkout in Model) {
					var user = UserManager.FindByIdAsync(checkout.UserId).Result;
					<tr class="@(checkout.DueDate >= today ? "" : "table-danger")">
						<th scope="row">@checkout.Book.Title</th>
						<td>@user</td>
						<td>@checkout.CheckoutDate</td>
						<td>@checkout.DueDate</td>
						<td>
							@if (User.IsInRole("Admin"))
							{
								<a asp-action="Edit" asp-route-bookId="@checkout.BookId" asp-route-userId="@checkout.UserId">Edit</a>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
}

<!--Update this for the create action whatever we name it -->
@if (User.IsInRole("Admin")) {
	<a asp-action="CreateCheckOut">Create New Checkout</a>
}
