@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManage
@model IEnumerable<BookReview>
@{
	ViewData["Title"] = "All Book Reviews";
}

<h1>Reviews for All Books</h1>

@{
	if (Model == null || !Model.Any()) {
		<h4>No Reviews Found for any book</h4>
	} else {
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th scope="col">Book Title</th>
					<th scope="col">Review by</th>
					<th scope="col">Rating</th>
					<th scope="col">Comment</th>
				</tr>
			</thead>
			<tbody>
				@foreach (BookReview review in Model) {
					var user = UserManager.FindByIdAsync(review.UserId).Result;
					<tr>
						<th scope="col">@review.Book.Title</th>
						<td>@user</td>
						<td>@review.Rating</td>
						<td>@review.Comment</td>
						<td>
							@if (User.IsInRole("Admin")) {
								<a asp-controller="BookReview" asp-action="Delete" asp-route-id="@review.BookReviewId">Delete</a>
								<a asp-controller="BookReview" asp-action="Edit" asp-route-id="@review.BookReviewId">Edit</a>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
}

<!--Update this for the create action whatever we name it -->
@if (User.IsInRole("Admin")) {
	<a asp-action="CreateBookReview">Create New Book</a>
}