@using LibraryManagement.Models.ModelViews
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManage
@model List<EventAndReview>
@{
	EventAndReview? first = null;
	if (Model == null || !Model.Any()) {
		ViewData["Title"] = "No Event Found";
	} else {
		first = Model.First();
		ViewData["Title"] = first.Title;
	}

/*	DeleteConfirmationViewModel deleteModel = new LibraryManagement.Models.ModelViews.DeleteConfirmationViewModel
	{
		Id = ViewBag.Book.BookId,
		Title = ViewBag.Book.Title,
		EntityName = "Event",
		DeleteAction = "DeleteConfirmed",
		DeleteController = "Event"
	};*/
}

@if (first == null)
{
	<h1>@ViewBag.Event.Title</h1>
	<h5>Scheduled on @ViewBag.Event.Date.ToString()</h5>
	<p>At @ViewBag.Event.Time.ToString()</p>
	<p>@ViewBag.Event.Location</p>
	<br /><br />
	<h5>Reviews</h5>
	<p>No reviews for this Event</p>
} else
{
	
	<div>
		<div class="eventInfo">
			<h1>@first.Title</h1>
			<h5>@first.Date, @first.Time</h5>
			<p>@first.Location</p>
		</div>
		<div class="reviews">
			<h5>Reviews</h5>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">User</th>
						<th scope="col">Rating</th>
						<th scope="col">Comment</th>
					</tr>
				</thead>
				<tbody>
					@foreach (EventAndReview review in Model) {
						var user = UserManager.FindByIdAsync(review.UserId).Result;
						<tr>
							<th scope="col">@user</th>
							<td>@review.Rating</td>
							<td>@review.Comment</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}

@if (User.IsInRole("Admin"))
{
	string modalId = $"deleteModal-{ViewBag.Event.EventId}";
	<button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#@modalId">
		Delete Event
	</button>

	//@await Html.PartialAsync("_ConfirmDelete", deleteModel)
}

@if (User.IsInRole("User")) {
	<a asp-controller="EventReview" asp-action="CreateEventReview">Add Review for this Event</a>
}