@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManage
@model IEnumerable<Event>
@{
	ViewData["Title"] = "All Events";
}

<h1>All Events</h1>
@{
	if (Model == null || !Model.Any()) {
		<h4>No Events Found</h4>
	} else {
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Location</th>
					<th scope="col">Date & Time</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (Event e in Model) {
					<tr onclick="document.location.href='Event/Event/@e.EventId'" style="cursor: pointer;">
						<th itemscope="col">@e.Title</th>
						<td>@e.Location</td>
						<td>@e.Date.ToString(), @e.Time.ToString()</td>
						<td>
							<a asp-controller="Event" asp-action="Event" asp-route-id="@e.EventId">Reviews</a>
							@if (User.IsInRole("Admin")) {
								<a asp-controller="Event" asp-action="Delete" asp-route-id="@e.EventId">Delete</a>
								<a asp-controller="Event" asp-action="Edit" asp-route-id="@e.EventId">Edit</a>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
}

<!--Update this for the create action whatever we name it -->
@if (User.IsInRole("Admin")) {
	<a asp-action="CreateEvent">Create New Event</a>
}
