@using LibraryManagement.Models.ModelViews
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManage
@model List<BookAndReview>
@{
	BookAndReview? first = null;
	if (Model == null || !Model.Any()) {
		ViewData["Title"] = "No Book Found";
	} else {
		first = Model.First();
		ViewData["Title"] = first.Title;
	}

	DeleteConfirmationViewModel deleteModel = new LibraryManagement.Models.ModelViews.DeleteConfirmationViewModel {
		Id = ViewBag.Book.BookId,
		Title = ViewBag.Book.Title,
		EntityName = "Book",
		DeleteAction = "DeleteConfirmed",
		DeleteController = "Book"
	};
}

@if (first == null) {
	<h1>@ViewBag.Book.Title</h1>
	<h5>by @ViewBag.Book.Author</h5>
	<p>@ViewBag.Book.Genre</p>
	<p>Published: @ViewBag.Book.Published</p>
	<img src="@ViewBag.Book.Picture" asp-append-version="true" height="265" width="190" />
	<br /><br />
	<h5>Reviews</h5>
	<p>No Reviews found for this book</p>
} else {
	<div>
		<div class="bookInfo">
			<h1>@first.Title</h1>
			<h5>@first.Author</h5>
			<p>@first.Genre</p>
			<p>Published: @first.Published</p>
			<img src="@first.Picture" asp-append-version="true" height="265" width="190"/>
		</div>
		<div class="reviews">
			<h5>Reviews</h5>
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th scope="col">User</th>
						<th scope="col">Rating</th>
						<th scope="col">Comment</th>
					</tr>
				</thead>
				<tbody>
					@foreach (BookAndReview review in Model) {
						var user = UserManager.FindByIdAsync(review.UserId).Result;
						<tr>
							<th scope="row">@user</th>
							<td>@review.Rating</td>
							<td>@review.Comment</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}

@if (User.IsInRole("Admin"))
{
	<button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#deleteModal">
		Delete Book
	</button>

	@await Html.PartialAsync("_ConfirmDelete", deleteModel)
}

@if(User.IsInRole("User")){
	<a asp-controller="BookReview" asp-action="CreateBookReview">Add Review for this Book</a>
}