@using LibraryManagement.Models.ModelViews
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManage
@model IQueryable<BookAndReview>
@{
	BookAndReview first = Model.First();
	ViewData["Title"] = first.Title;
}

<div>
	<div class="bookInfo">
		<h1>@first.Title</h1>
		<h5>@first.Author</h5>
		<p>@first.Genre</p>
		<p>@first.Published</p>
	</div>
	<div class="reviews">
		<table class="table">
			<thead>
				<tr>
					<th>UserId</th>
					<th>Rating</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				@foreach (BookAndReview review in Model) {
					<tr>
						<td>@review.UserId</td>
						<td>@review.Rating</td>
						<td>@review.Comment</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@if(User.IsInRole("User")){
	<a asp-controller="BookReview" asp-action="Create">Add Review for this Book</a>
}


